/memory/build
/memory/.vscode
.vscode
/ccfd_cpp/build
/ccfd_cpp/.vscode
/synchronization/build
/synchronization/.vscode
/synchronization/semaphores/build
/synchronization/semaphores/.vscode
/swo/build
/swo/.vscode
/swo/design_patterns/.vscode
/swo/design_patterns/a.out